* {
    box-sizing: border-box;
}

:root {
    --A: rgb(95, 133, 161);
    --B: #EBDABFff;
    --C: rgb(242, 244, 246);
    --D: #322A26ff;
}


/*  Body */
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;

}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: "Montserrat", helvetica;
    padding: 10px;
}

/* Barra NAV */
nav {
    background-color: var(--navColor);
    /* 
    border-radius: 20px;
    perspective: 1px;     */

    padding: 14px 15px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    font-family: "Barlow Condensed", helvetica;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--navFColor);
    padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--navfooterColorHover)
}

.navicon {
    filter: invert(46%) sepia(57%) saturate(260%) hue-rotate(162deg) brightness(96%) contrast(89%);
}


button#oscuro.btn:hover {
    color: var(--navfooterColorHover);
}


/* Botón con switch de modo Light y modo dark dentro del Nav */
#oscuro {
    float: right;

    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    border-radius: 50%;
    border: none;

    color: var(--btnFontColor);
    background-color: var(--btnBg);

}

.btn:hover {
    /* border: 1px dotted;
    border-color: rgb(252, 252, 255) */
    color: var(--navfooterColorHover);
}


/* Variables de modo Light y modo dark  */
.light-theme {
    --bg: var(--B);
    --fontColor: var(--A);
    --btnBg: var(--A);
    --btnFontColor: var(--B);
    --navColor: var(--B);
    --navFColor: var(--A);
    --navbtnHover: var(--C);
    --navfooterColorHover: var(--C);
    --footerColor: var(--B);
    --footerFColor: var(--A);
    --footerFColorHover: var(--C);
}

.dark-theme {
    --bg: var(--A);
    --fontColor: var(--B);
    --btnBg: var(--B);
    --btnFontColor: var(--A);
    --navColor: var(--A);
    --navFColor: var(--B);
    --navbtnHover: var(--C);
    --navfooterColorHover: var(--C);
    --footerColor: var(--A);
    --footerFColor: var(--B);
    --footerFColorHover: var(--C);

}


/* Main */
main {
    margin-top: 20px;
}

/* Tamaño de fuente por defecto */
#B1 {
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: "Barlow Condensed", helvetica;

}


p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", helvetica;

}

.bloc {
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 10px;
    padding: 10px;
    border: dashed 1px white;
    max-width: 100%;
    word-wrap: break-word;
}

#CV {
    display: flex;
    align-items: center;
    
}

.iconCV {
    display: flex;
    align-items: center;
    color: var(--fontColor);
    font-size: 20px;


}

.iconCV:hover {
    color: var(--navfooterColorHover);
    text-decoration: underline;
}

img {
    max-width: 100%;
    word-wrap: break-word;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}

img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

article ul li {
    text-align: justify;
    padding: 4px;
}

article ul {
    text-align: right;
    padding-right: 10px;

}

.table {
    color: var(--fontColor);
}

.iconoTable {
    color: var(--fontColor);
    font-size: 25px;

}

.espacio {
    padding-left: 10px;
}


#footer {
    clear: both;
    float: none;
    text-align: center;
    margin-top: 20px;
    background-color: var(--navColor);
    /* border-radius: 20px;
    perspective: 1px; */
    padding: 2px 1px;
    font-family: "Barlow Condensed", helvetica;

}

#footer .row {
    width: 100%;
    padding: 1em;
    color: var(--footerFColor);
    font-size: 1em;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", helvetica;

}

#footer .row a {
    text-decoration: none;
    color: var(--footerFColor);
    font-family: "Barlow Condensed", helvetica;


}


#footer .row a:hover {
    color: var(--navfooterColorHover);
}


#footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

/* Contacto para pantallas pequeñas */
@media (max-width: 767px) {
    #contacto {
        display: flex;
        float: left;
    }
}

/* Botón dark para pantallas pequeñas */
@media (min-width: 990px) {
    #oscuro {
        position: absolute;
        right: 50px;
    }
}

/* Ajusta el tamaño del texto en pantallas pequeñas */

@media (max-width: 410px) {

    #B1 h1
    {
        font-size: 150%;
    }

}

@media (max-width: 410px) {

    #CV h3
    {
        font-size: 120%;
    }

}

@media (max-width: 410px) {
    #B2 h2,
     #B2 p {
        font-size: 100%;
    }

}