* {
    box-sizing: border-box;
}

:root {
    --A: rgb(95, 133, 161);
    --B: rgb(224, 205, 173);
    --C: rgb(244, 247, 221);
    --D: rgb(42, 73, 96);
}


/*  Body */

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: "Montserrat", helvetica;
    padding: 10px;
}

/* Barra NAV */

nav {
    background-color: var(--navColor);
    padding: 14px 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    font-family: "Barlow Condensed", helvetica;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--navFColor);
    padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--navfooterColorHover)
}

.navicon {
    filter: invert(46%) sepia(57%) saturate(260%) hue-rotate(162deg) brightness(96%) contrast(89%);
}

a.nav-link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    
}

a.nav-link:hover,
a .nav-link:focus {
    background-size: 100% 2px;
    
    
}

/* Botón con switch de modo Light y modo dark dentro del Nav */

#oscuro {
    float: right;

    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    border-radius: 50%;
    border: none;

    color: var(--btnFontColor);
    background-color: var(--btnBg);
}


button#oscuro:hover {
    color: var(--navfooterColorHover);
}

/* Variables de modo Light y modo dark  */

.light-theme {
    --bg: var(--B);
    --fontColor: var(--A);
    --btnBg: var(--A);
    --btnFontColor: var(--B);
    --navColor: var(--B);
    --navFColor: var(--A);
    --navbtnHover: var(--C);
    --navfooterColorHover: var(--C);
    --footerColor: var(--B);
    --footerFColor: var(--A);
    --footerFColorHover: var(--C);
}

.dark-theme {
    --bg: var(--A);
    --fontColor: var(--B);
    --btnBg: var(--B);
    --btnFontColor: var(--A);
    --navColor: var(--A);
    --navFColor: var(--B);
    --navbtnHover: var(--C);
    --navfooterColorHover: var(--C);
    --footerColor: var(--A);
    --footerFColor: var(--B);
    --footerFColorHover: var(--C);
}

/* Main */

main {
    margin-top: 20px;
}

/* Título */

#titulo {
    padding-left: 0px;
    padding-bottom: 5px;
}

/* Tamaños de fuentes */

#B1 {
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: "Barlow Condensed", helvetica;
}

h5 {
    font-size: 1.2em;
    text-decoration: underline dotted;
    text-underline-offset: 8px;}


p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", helvetica;
}

/* Estilo de los bloques */

.bloc {
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 10px;
    padding: 10px;
    border: dashed 1px white;
    max-width: 100%;
    word-wrap: break-word;
}


/* Estilos de "Curriculum Vitae"  */

#CV {
    display: flex;
    align-items: center;
}

.iconCV {
    display: flex;
    align-items: center;
    color: var(--fontColor);
    font-size: 20px;
}

.iconCV:hover {
    color: var(--navfooterColorHover);
    text-decoration: underline;
}


/* Estilos de la imagen */

img {
    max-width: 100%;
    word-wrap: break-word;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}

img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* Estilos de la lista formación y idiomas */

#form ul li {
    text-align: justify;
    padding: 4px;
    list-style-type: circle;
}

#form ul {
    text-align: right;
    padding-right: 10px;
}

/* Estilos de la tabla */

.table {
    color: var(--fontColor);
}

.iconoTable {
    color: var(--fontColor);
    font-size: 25px;
}

.table td {
    padding-left: 2px;
}

/* Estilos tabla dinámica */

.list-style {
    list-style-type: circle;
}


/* Estilos de la lista +Info & Certificados */

#cert ul li {
    text-align: justify;
    padding: 4px;
    list-style-type: circle;
}

#cert ul {
    text-align: right;
    padding-right: 10px;
}

/* Estilos del video */

video {
    max-width: 100%;
    word-wrap: break-word;
    height: auto;
    width: auto;
    align-items: center;
    
}

#storm a {
    text-decoration: none;
    color: var(--footerFColor);
    font-family: "Barlow Condensed", helvetica;
}

#storm a:hover {
    color: var(--navfooterColorHover);
    text-decoration: underline;
}

/* Footer */

#footer {
    clear: both;
    float: none;
    text-align: center;
    margin-top: 20px;
    background-color: var(--navColor);
    padding: 2px 1px;
    font-family: "Barlow Condensed", helvetica;
}

#footer .row {
    width: 100%;
    padding: 1em;
    color: var(--footerFColor);
    font-size: 1em;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", helvetica;
}

#footer .row a {
    text-decoration: none;
    color: var(--footerFColor);
    font-family: "Barlow Condensed", helvetica;
}


#footer .row a:hover {
    color: var(--navfooterColorHover);
}


#footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}


 /* Querys */
 
/* Contacto para pantallas pequeñas */

@media (max-width: 767px) {
    #contacto {
        display: flex;
        float: left;
    }
}

/* Botón dark para pantallas pequeñas */

@media (min-width: 990px) {
    #oscuro {
        position: absolute;
        right: 50px;
    }
}

/* Ajusta el tamaño del texto en pantallas pequeñas */

@media (max-width: 410px) {
    #B1 h1 {
        font-size: 150%;
    }
}

@media (max-width: 410px) {
    h3 {
        font-size: 120%;
    }
}

@media (max-width: 410px) {
    h5 {
        font-size: 100%;
    }
}

@media (max-width: 410px) {
    p {
        font-size: 100%;
    }
}


/* Animaciones */

/* animacion aparición título + cv */

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Animación rotar */

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center {
    -webkit-animation: rotate-center 1s ease-in-out both;
    animation: rotate-center 1s ease-in-out both;
}